body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color:var(--total);
  color:var(--rosa);
  text-align: center;
  padding: 10px 0;
}

.container {
  margin: 20px auto;
  max-width: 400px;
}

.login-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  justify-content: center;
  text-align: center;
  
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

:root{
  --rosa:rgb(240, 152, 166) ;
  --total:rgb(159, 80, 238);
  --intagra:linear-gradient(#7f37c9,#ff2992,#ff9807)
}